#folders
.idea/
__pychache__/

# files
credits.txt
startardupilot.sh
startgazeboarducopter.sh
map.html
OldStuff/quickstart.py
OldStuff/oldConnection.py
/deneme.py
/OldStuff/DisplayInfo.py
/uifolder/BaseGUI (copy).ui
/uifolder/displayinfo.ui
yapılacaklar.txt
/video.mp4
/__pycache__
*.pyc
__pycache__/HomePage.cpython-37.pyc
__pycache__/IndicatorsPage.cpython-37.pyc
__pycache__/MapWidget.cpython-37.pyc
__pycache__/ThreadingPart.cpython-37.pyc
/untitled
/__pycache__
/__pycache__
/__pycache__
/.qtcreator/
Database/output.avi
/__pycache__
