# Prerequisites
*.d
ardupilot
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

data/*
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/app
/iq_sim
detection/datasets
detection/runs
detection/yolo11n-pose.pt
detection/**/*.pt #weights

logs
terrain
mav.*
eeprom.bin 
install
log
logs
build
build/*


gz_ws/src/ardupilot_gz
gz_ws/src/micro_ros_agent
gz_ws/src/ros_gz
gz_ws/src/sdformat_urdf

__pycache__
