[submodule "src/ardupilot_gazebo"]
	path = src/ardupilot_gazebo
	url = https://github.com/amar-jay/gazebo_sitl
[submodule "src/gcs/libs/PySide6-Fluent-Widgets-plguin"]
  path = src/gcs/libs/PySide6-Fluent-Widgets-plguin
	url = https://github.com/amar-jay/PySide6-Fluent-Widgets-plugin
