[submodule "src/controls"]
	path = src/controls
	url = https://github.com/amar-jay/controls
[submodule "src/orthomosaic_mapping"]
	path = src/orthomosaic_mapping
	url = https://github.com/amar-jay/orthomosaic_mapping
[submodule "src/control_station"]
	path = src/control_station
	url = https://github.com/amar-jay/matek-gcs
[submodule "src/ardupilot_gazebo"]
	path = src/ardupilot_gazebo
	url = https://github.com/amar-jay/gazebo_sitl
