filterpy==1.4.5
folium==0.19.5
# mkdocs==1.6.1
# mkdocs-material==9.6.15
# mkdocs-rss-plugin==1.17.3
# mkdocs-git-revision-date-localized-plugin==1.4.7
# mkdocs-glightbox==0.4.0
pillow
numpy
# psutil==7.0.0
# psutil==5.9.0
psutil
pygame==2.6.1
pymavlink==2.4.48
pypesq==1.2.4
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pyside6_fluent_widgets==1.8.3
PyYAML==6.0.2
pyzmq==27.0.0
Requests==2.32.4
supervision==0.26.0rc7
torch==2.7.1
trackers
ultralytics