:root {
    --md-primary-fg-color: #2e2e2e;
    
    --md-button-color--discord: #5865F2;
    --md-button-color--revolt: #FF0055;
    --md-button-color--mastodon: #6364FF;
    --md-button-color--bluesky: #0886FE;
    
    --md-button-color--discord_lighter: #7984F5;
    --md-button-color--revolt_lighter: #FF3377;
    --md-button-color--mastodon_lighter: #8283FF;
    --md-button-color--bluesky_lighter: #399EFE;
}

@media screen {
    [data-md-color-scheme="slate"] {
        --md-typeset-a-color: #526cfe;
    }
}

div.footnote > hr {
    display: none;
}

.octicons-true {
    color: #3FB950;
}

.octicons-false {
    color: #F85149;
}

.md-typeset .md-button {
    color: var(--md-typeset-a-color);
}

.md-post .md-button.md-button__social, .md-typeset .md-button.md-button__social {
    line-height: 0;
    padding: .625em;
    color: white;
    border-radius: .1rem;
}

.md-post .md-button.md-button__social:hover {
    color: white;
}

.md-button.md-button__social--discord {
    background-color: var(--md-button-color--discord);
    border-color: var(--md-button-color--discord);
}

.md-button.md-button__social--revolt {
    background-color: var(--md-button-color--revolt);
    border-color: var(--md-button-color--revolt);
}

.md-button.md-button__social--mastodon {
    background-color: var(--md-button-color--mastodon);
    border-color: var(--md-button-color--mastodon);
}

.md-button.md-button__social--bluesky {
    background-color: var(--md-button-color--bluesky);
    border-color: var(--md-button-color--bluesky);
}

.md-button.md-button__social--discord:hover {
    background-color: var(--md-button-color--discord_lighter);
    border-color: var(--md-button-color--discord_lighter);
}

.md-button.md-button__social--revolt:hover {
    background-color: var(--md-button-color--revolt_lighter);
    border-color: var(--md-button-color--revolt_lighter);
}

.md-button.md-button__social--mastodon:hover {
    background-color: var(--md-button-color--mastodon_lighter);
    border-color: var(--md-button-color--mastodon_lighter);
}

.md-button.md-button__social--bluesky:hover {
    background-color: var(--md-button-color--bluesky_lighter);
    border-color: var(--md-button-color--bluesky_lighter);
}